@charset "UTF-8";
.about
{
	font-size: 24px;
	text-align:center;
}
.aboutus
{
	padding: 1rem;
}
html
{
	background-color: lightgrey;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 3px solid navy;
  text-align: left;
  padding: 30px;
}

tr:nth-child(even) 
{
  background-color: white;
}
tr:nth-child(odd) 
{
  background-color: white;
}