@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html
{
	overflow-x: hidden;
	background-image:url(../images/images1.jpg);
	background-size: 100% auto;
}

.box1
{
	font-size: 24px;
	color: white;
	text-align: center;
}

.box2
{
	font-size: 20px;
	color:white;
	text-align: center;	
}

.box3
{
	font-size: 16px;
	color:white;
	text-align: center;	
}

.box4
{
	font-size: 18px;
	color: white;
	text-align: center;	
}

