@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body
{
	text-align:center;
	color: #11f6da;
	padding-bottom:1rem;
	background-color: navy;
}
.h3
{
	font-size: 1.8rem;
	padding-top: 2rem;	
}
a
{
	color: #11f6da;
}

