@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html
{
	overflow-x: hidden;
}
.body1
{
	background-color: lightgrey;
}
.memberregister
{
	font-size: 24px;
	color: blue;
	text-align: center;
	padding-top: 1rem;
	padding:2rem;
	background-color: black;
}